/**
* ! changes the style of the body
**/

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:darkkhaki;
    margin-top: 200px;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

h1:hover{
    text-shadow: 0 0 80px blue, 0 0 180px blue, 0 0 280px blue, 0 0 400px blue;
}


body{
    background-color: darkorange;
}