/**
* ! changes the style of the body
**/

@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#000000;
    text-shadow: 0 0 80px #b22222, 0 0 180px #b22222, 0 0 280px #b22222, 0 0 400px #b22222;
    margin-top: 200px;
    font-size: 160px;
    font-family: 'Road Rage', cursive;    
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

/**
* ! Changes the color of the body(white screen)
**/

body{
    background-color:#daa520;
}