/**
* ! changes the style of the body
**/

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    text-shadow: 0 0 80px firebrick, 0 0 180px firebrick, 0 0 280px firebrick, 0 0 400px firebrick;
    margin-top: 200px;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

/**
* ! Changes the color of the body(white screen)
**/

body{
    background-color:goldenrod;
}